[submodule "deps/json"]
	path = deps/json
	url = https://github.com/nlohmann/json.git
[submodule "deps/fmt"]
	path = deps/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "deps/range-v3"]
	path = deps/range-v3
	url = https://github.com/ericniebler/range-v3.git
